<%- include partials/header.ejs %>


    <a href="signIn/login.ejs" title="login">Login</a> or
    <a href="signIn/registeration.ejs" title="Reg">Registration</a>
<%- include partials/footer.ejs %>

