<%- include ../partials/header.ejs %>

<main class="container">
    <h1>Login</h1>

    <% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
    <% } %>

<form method="post" action="/signIn/login">
        <fieldset>
        <label for="username">Username:</label>
        <input name="username" id="username" required />
        </fieldset>
        <fieldset>
        <label for="password" >Password:</label>
        <input name="password" id="password" type="password" required />
        </fieldset>
        <button class="btn btn-primary">Login</button>
        </a>
        <hr />
        Sign up <a href="/signIn/registeration" title="Registration">Registration</a>
</form>

</main>

<%- include ../partials/footer.ejs %>